env
*.pyc
zapotexts/*.html
zapotexts/*.xml
zapotexts/flex_asserts.py
zapotexts/static_media_dep
ticha/whoosh_index/
ticha/settings_secret.py
ticha/static
edit_data.py
ticha_data*.txt
*.swp
*.mo
zapotexts/media/zapotexts/*old_arte_flex.xml
.DS_Store
all.json
uwsgi_params
static_media
db.sqlite3
*.log
omeka_data.txt
