*.pdf
img/
fonts/
json/
js/bower_components
js/locale
js/bootstrap.js
js/dataTables.min.js
js/jquery.min.map
js/jquery-1.10.2.js
js/storyjs-embed.js
js/storyjs-embed-cdn.js
js/storyjs-embed-generator.js
js/storyjs-embed-min.js
js/timeline.js
js/timeline-min.js
css/bootstrap.css
css/bootstrap.css.map
css/bootstrap.min.css
css/bootstrap_journal.css
css/font-awesome.min.css
css/timeline.css
